USE [master]
GO
/****** Object:  Database [MyHW]    Script Date: 7.11.2015 г. 8:56:36 ******/
CREATE DATABASE [MyHW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyHW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MyHW.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyHW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\MyHW_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyHW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyHW]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 7.11.2015 г. 8:56:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userId] [int] NOT NULL,
	[comment] [varchar](max) NOT NULL,
	[likesCount] [int] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CommentsFans]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CommentsFans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[commentId] [int] NOT NULL,
	[fanId] [int] NOT NULL,
 CONSTRAINT [PK_CommentsFans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Groups]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[teacherId] [int] NOT NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GroupsTasks]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupsTasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[groupId] [int] NOT NULL,
	[taskId] [int] NOT NULL,
 CONSTRAINT [PK_GroupsTasks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Homeworks]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Homeworks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[taskId] [int] NOT NULL,
	[groupId] [int] NOT NULL,
	[submittedFile] [varbinary](max) NOT NULL,
	[dateSubmitted] [date] NOT NULL,
	[grade] [varchar](50) NOT NULL,
	[review] [varchar](max) NOT NULL,
	[likesCount] [int] NOT NULL,
 CONSTRAINT [PK_Homeworks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HomeworksComments]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeworksComments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[homeworkId] [int] NOT NULL,
	[commentId] [int] NOT NULL,
 CONSTRAINT [PK_HomeworksComments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HomeworksFans]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeworksFans](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[homeworkId] [int] NOT NULL,
	[fanId] [int] NOT NULL,
 CONSTRAINT [PK_HomeworksFans] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](max) NOT NULL,
	[avatar] [varbinary](max) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StudentsGroups]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsGroups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [int] NOT NULL,
	[groupId] [int] NOT NULL,
 CONSTRAINT [PK_StudentsGroups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentsHomeworks]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentsHomeworks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[studentId] [int] NOT NULL,
	[homeworkId] [int] NOT NULL,
 CONSTRAINT [PK_StudentsHomeworks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tasks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[problem] [varbinary](max) NOT NULL,
	[dateCreated] [date] NOT NULL,
	[deadline] [date] NOT NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teachers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](max) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[avatar] [varbinary](max) NULL,
 CONSTRAINT [PK_Teachers] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TeachersGroups]    Script Date: 7.11.2015 г. 8:56:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeachersGroups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[teacherId] [int] NOT NULL,
	[groupId] [int] NOT NULL,
 CONSTRAINT [PK_TeachersGroups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([id], [username], [password], [firstName], [lastName], [avatar]) VALUES (1, N'student1', N'passstudent1', N'Vasil', N'Atanasov', NULL)
INSERT [dbo].[Students] ([id], [username], [password], [firstName], [lastName], [avatar]) VALUES (2, N'student2', N'passstudent2', N'Pavel', N'Dimitrov', NULL)
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([id], [username], [password], [firstName], [lastName], [avatar]) VALUES (1, N'teacher1', N'passteacher1', N'Kaloyan', N'Manev', NULL)
SET IDENTITY_INSERT [dbo].[Teachers] OFF
/****** Object:  Index [IX_GroupsTasks]    Script Date: 7.11.2015 г. 8:56:37 ******/
ALTER TABLE [dbo].[GroupsTasks] ADD  CONSTRAINT [IX_GroupsTasks] UNIQUE NONCLUSTERED 
(
	[taskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_HomeworksComments]    Script Date: 7.11.2015 г. 8:56:37 ******/
ALTER TABLE [dbo].[HomeworksComments] ADD  CONSTRAINT [IX_HomeworksComments] UNIQUE NONCLUSTERED 
(
	[commentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentsHomeworks]    Script Date: 7.11.2015 г. 8:56:37 ******/
ALTER TABLE [dbo].[StudentsHomeworks] ADD  CONSTRAINT [IX_StudentsHomeworks] UNIQUE NONCLUSTERED 
(
	[homeworkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeachersGroups]    Script Date: 7.11.2015 г. 8:56:37 ******/
ALTER TABLE [dbo].[TeachersGroups] ADD  CONSTRAINT [IX_TeachersGroups] UNIQUE NONCLUSTERED 
(
	[groupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CommentsFans]  WITH CHECK ADD  CONSTRAINT [FK_CommentsFans_Comments] FOREIGN KEY([commentId])
REFERENCES [dbo].[Comments] ([id])
GO
ALTER TABLE [dbo].[CommentsFans] CHECK CONSTRAINT [FK_CommentsFans_Comments]
GO
ALTER TABLE [dbo].[CommentsFans]  WITH CHECK ADD  CONSTRAINT [FK_CommentsFans_Students] FOREIGN KEY([commentId])
REFERENCES [dbo].[Students] ([id])
GO
ALTER TABLE [dbo].[CommentsFans] CHECK CONSTRAINT [FK_CommentsFans_Students]
GO
ALTER TABLE [dbo].[CommentsFans]  WITH CHECK ADD  CONSTRAINT [FK_CommentsFans_Teachers] FOREIGN KEY([fanId])
REFERENCES [dbo].[Teachers] ([id])
GO
ALTER TABLE [dbo].[CommentsFans] CHECK CONSTRAINT [FK_CommentsFans_Teachers]
GO
ALTER TABLE [dbo].[GroupsTasks]  WITH CHECK ADD  CONSTRAINT [FK_GroupsTasks_Groups] FOREIGN KEY([groupId])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[GroupsTasks] CHECK CONSTRAINT [FK_GroupsTasks_Groups]
GO
ALTER TABLE [dbo].[GroupsTasks]  WITH CHECK ADD  CONSTRAINT [FK_GroupsTasks_Tasks1] FOREIGN KEY([taskId])
REFERENCES [dbo].[Tasks] ([id])
GO
ALTER TABLE [dbo].[GroupsTasks] CHECK CONSTRAINT [FK_GroupsTasks_Tasks1]
GO
ALTER TABLE [dbo].[Homeworks]  WITH CHECK ADD  CONSTRAINT [FK_Homeworks_Groups] FOREIGN KEY([groupId])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[Homeworks] CHECK CONSTRAINT [FK_Homeworks_Groups]
GO
ALTER TABLE [dbo].[Homeworks]  WITH CHECK ADD  CONSTRAINT [FK_Homeworks_Tasks] FOREIGN KEY([taskId])
REFERENCES [dbo].[Tasks] ([id])
GO
ALTER TABLE [dbo].[Homeworks] CHECK CONSTRAINT [FK_Homeworks_Tasks]
GO
ALTER TABLE [dbo].[HomeworksComments]  WITH CHECK ADD  CONSTRAINT [FK_HomeworksComments_Comments] FOREIGN KEY([commentId])
REFERENCES [dbo].[Comments] ([id])
GO
ALTER TABLE [dbo].[HomeworksComments] CHECK CONSTRAINT [FK_HomeworksComments_Comments]
GO
ALTER TABLE [dbo].[HomeworksComments]  WITH CHECK ADD  CONSTRAINT [FK_HomeworksComments_Homeworks] FOREIGN KEY([homeworkId])
REFERENCES [dbo].[Homeworks] ([id])
GO
ALTER TABLE [dbo].[HomeworksComments] CHECK CONSTRAINT [FK_HomeworksComments_Homeworks]
GO
ALTER TABLE [dbo].[HomeworksFans]  WITH CHECK ADD  CONSTRAINT [FK_HomeworksFans_Homeworks] FOREIGN KEY([homeworkId])
REFERENCES [dbo].[Homeworks] ([id])
GO
ALTER TABLE [dbo].[HomeworksFans] CHECK CONSTRAINT [FK_HomeworksFans_Homeworks]
GO
ALTER TABLE [dbo].[HomeworksFans]  WITH CHECK ADD  CONSTRAINT [FK_HomeworksFans_Students] FOREIGN KEY([fanId])
REFERENCES [dbo].[Students] ([id])
GO
ALTER TABLE [dbo].[HomeworksFans] CHECK CONSTRAINT [FK_HomeworksFans_Students]
GO
ALTER TABLE [dbo].[HomeworksFans]  WITH CHECK ADD  CONSTRAINT [FK_HomeworksFans_Teachers] FOREIGN KEY([fanId])
REFERENCES [dbo].[Teachers] ([id])
GO
ALTER TABLE [dbo].[HomeworksFans] CHECK CONSTRAINT [FK_HomeworksFans_Teachers]
GO
ALTER TABLE [dbo].[StudentsGroups]  WITH CHECK ADD  CONSTRAINT [FK_StudentsGroups_Groups] FOREIGN KEY([groupId])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[StudentsGroups] CHECK CONSTRAINT [FK_StudentsGroups_Groups]
GO
ALTER TABLE [dbo].[StudentsGroups]  WITH CHECK ADD  CONSTRAINT [FK_StudentsGroups_Students] FOREIGN KEY([studentId])
REFERENCES [dbo].[Students] ([id])
GO
ALTER TABLE [dbo].[StudentsGroups] CHECK CONSTRAINT [FK_StudentsGroups_Students]
GO
ALTER TABLE [dbo].[StudentsHomeworks]  WITH CHECK ADD  CONSTRAINT [FK_StudentsHomeworks_Homeworks] FOREIGN KEY([homeworkId])
REFERENCES [dbo].[Homeworks] ([id])
GO
ALTER TABLE [dbo].[StudentsHomeworks] CHECK CONSTRAINT [FK_StudentsHomeworks_Homeworks]
GO
ALTER TABLE [dbo].[StudentsHomeworks]  WITH CHECK ADD  CONSTRAINT [FK_StudentsHomeworks_Students] FOREIGN KEY([studentId])
REFERENCES [dbo].[Students] ([id])
GO
ALTER TABLE [dbo].[StudentsHomeworks] CHECK CONSTRAINT [FK_StudentsHomeworks_Students]
GO
ALTER TABLE [dbo].[TeachersGroups]  WITH CHECK ADD  CONSTRAINT [FK_TeachersGroups_Groups] FOREIGN KEY([groupId])
REFERENCES [dbo].[Groups] ([id])
GO
ALTER TABLE [dbo].[TeachersGroups] CHECK CONSTRAINT [FK_TeachersGroups_Groups]
GO
ALTER TABLE [dbo].[TeachersGroups]  WITH CHECK ADD  CONSTRAINT [FK_TeachersGroups_Teachers] FOREIGN KEY([teacherId])
REFERENCES [dbo].[Teachers] ([id])
GO
ALTER TABLE [dbo].[TeachersGroups] CHECK CONSTRAINT [FK_TeachersGroups_Teachers]
GO
USE [master]
GO
